.wrapper {
    display: flex;
    justify-content: flex-start;
    background-image: url('../../../public/images/authentication-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    min-height: 100vh;
    flex-direction: column;
    gap: 1rem;
}